@import url("../../.cache/wal/colors.css");

:root {
  font-family: "JetBrainsMono Nerd Font", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  --red: #f14241;
  --blue: #7e9cd8;
  --green: #26a65b;
  --disabled: #828282;
  --highlight: #d49621;
  --white: var(--color7);
  --text-color: var(--background);
  --active: var(--color6);
  --noti-bg: var(--color9);
  --cc-bg: var(--color4);
  --cc-bg-lighter: var(--color2);
  --border-color: var(--blue);
}

* {
  font-size: 1rem;
}

.blank-window,
.floating-notifications,
.notification,
.notification-row,
.notification-content,
.notification-action,
.notification-default-action,
.notification-row,
.notification-background,
.inline-reply-entry,
.inline-reply-button,
.widget-title,
.widget-title > button,
.widget-title > label,
.widget-dnd,
.widget-dnd label,
.widget-dnd > switch,
.widget-dnd > switch slider,
.widget-label,
.widget-label > label,
.widget-buttons-grid,
.widget-buttons-grid > flowbox > flowboxchild > button,
.widget-slider,
.widget-volume,
.widget-backlight,
.widget-mpris,
.widget-mpris > box > button,
.widget-mpris-player,
.widget-mpris-album-art {
  font-size: 1rem;
  color: var(--text-color);
  border-radius: 0.75rem;
  /* padding: 0.5rem; */
  /* margin: 0.5rem; */
  /* border: 1px solid var(--text-color); */
}

/* Control centre label */
.widget-title > label {
  font-size: 1.5rem;
}
/* Clear button in Control center title */
.widget-title > button {
  font-weight: 900;
  background: var(--active);
  color: var(--text-color);
}
.widget-title > button:hover {
  background: var(--red);
  color: var(--text-color);
}

/* Button grid icons */
.widget-buttons-grid {
  background: var(--noti-bg);
}
.widget-buttons-grid > flowbox > flowboxchild > button {
  color: var(--text-color);
  background: var(--active);
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  color: var(--text-color);
  background: var(--blue);
}
.widget-buttons-grid flowboxchild > button.toggle:checked {
  color: var(--text-color);
  background: var(--blue);
}

/* Volume and Backlight sliders */
.widget-slider,
.widget-volume,
.widget-backlight {
  font-size: larger;
  background: var(--noti-bg);
  border: 1px solid var(--cc-bg-lighter);
}

/* Different color for text in mpris widge */
.widget-mpris,
.widget-mpris > box > button,
.widget-mpris-player,
.widget-mpris-album-art {
  color: var(--white);
  background: var(--disabled);
}

/* For notification outside of control center */
.notification-row .notification-background .notification {
  color: var(--text-color);
  background: var(--noti-bg);
  transition: background 0.2s ease-in-out;
  padding: 0.5rem;
  border: 2px solid var(--text-color);
  border-radius: 0.75rem;
  /* box-shadow: none; */
}

.control-center {
  color: var(--text-color);
  background: var(--cc-bg);
  border: 2px solid var(--border-color);
  border-radius: 0.75rem;
}

/* Notification background in control-center list */
.control-center .notification-row,
.control-center .notification-row {
  opacity: 1;
  background-color: var(--noti-bg-selected);
  box-shadow: none;
}
.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background-color: var(--highlight);
}

.notification-group {
  background: var(--noti-bg);
  transition: opacity 200ms ease-in-out;
}

.notification-group:focus {
  background: var(--noti-bg-lighter);
}

/* close button on notifications in control center */
.close-button,
.close-button:hover {
  background: var(--red);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
  transition: background 0.15s ease-in-out;
  box-shadow: none;
}

.notification-default-action:hover,
.notification-action:hover {
  color: var(--text-color);
  background: var(--active);
}

.inline-reply-entry {
  color: var(--text-color);
  background: var(--noti-bg-darker);
  caret-color: var(--text-color);
  border: 1px solid var(--noti-border-color);
}

.inline-reply-button {
  color: var(--text-color);
  background: var(--noti-bg);
  border: 1px solid var(--noti-border-color);
}

.inline-reply-button:hover {
  background: var(--noti-bg-hover);
}

.inline-reply-button:disabled {
  color: var(--text-color);
  background: var(--disabled);
}
