@import url("../../.cache/wal/colors.css");

:root {
  font-family: "JetBrainsMono Nerd Font", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  --cc-bg: var(--color4);
  --noti-bg: var(--color9);
  --border-color: var(--color9);
  --text-color: var(--background);
  --text-color-disabled: #828282;
  --blue: #7e9cd8;
  --green: #26a65b;
  --alert: #f14241;
  --disabled: #a5a5a5;
  --highlight: #d49621;
}

* {
  font-size: 1rem;
}

/* .blank-window, */
/* .floating-notifications, */
/* .notification, */
/* .notification-row, */
/* .notification-content, */
/* .notification-action, */
/* .notification-default-action, */
/* .notification-row, */
/* .notification-background, */
/* .inline-reply-entry, */
/* .inline-reply-button, */
/* .widget-title, */
/* .widget-title > button, */
/* .widget-title > label, */
/* .widget-dnd, */
/* .widget-dnd label, */
/* .widget-dnd > switch, */
/* .widget-dnd > switch slider, */
/* .widget-label, */
/* .widget-label > label, */
/* .widget-buttons-grid, */
/* .widget-buttons-grid > flowbox > flowboxchild > button, */
/* .widget-slider, */
/* .widget-volume, */
/* .widget-backlight, */
/* .widget-mpris, */
/* .widget-mpris > box > button, */
/* .widget-mpris-player, */
/* .widget-mpris-album-art { */
/*   font-size: 1rem; */
/*   color: var(--text-color); */
/*   padding: 0.5rem; */
/*   margin: 0.5rem; */
/*   border: 1px solid var(--text-color); */
/*   border-radius: 0.75rem; */
/* } */
/**/
/* Different color for text in mpris widge */
.widget-mpris,
.widget-mpris > box > button,
.widget-mpris-player,
.widget-mpris-album-art {
  color: var(--color7);
}

/* For notification outside of control center */
.notification-row .notification-background .notification {
  color: var(--text-color);
  background: var(--noti-bg);
  transition: background 0.2s ease-in-out;
  padding: 0.5rem;
  border: 2px solid var(--text-color);
  border-radius: 0.75rem;
}

.control-center {
  color: var(--text-color);
  background: var(--cc-bg);
  border-color: var(--border-color);
  border-radius: 0.75rem;
}

/* Notification background in control-center list */
.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background-color: var(--color6);
}

/* close button on notifications in control center */
.close-button,
.close-button:hover {
  background: var(--alert);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
  transition: background 0.15s ease-in-out;
  box-shadow: none;
}

.notification-default-action:hover,
.notification-action:hover {
  color: var(--text-color);
  background: var(--color2);
}

/* .widget-buttons-grid > flowbox > flowboxchild > button:hover { */
/*   color: var(--cc-bg); */
/*   background: var(--color3); */
/* } */
/**/
/* .widget-buttons-grid flowboxchild > button.toggle:checked { */
/*   background-color: var(--color3); */
/*   color: var(--cc-bg); */
/* } */
/**/

/* .inline-reply-entry { */
/*   background: var(--noti-bg-darker); */
/*   color: var(--text-color); */
/*   caret-color: var(--text-color); */
/*   border: 1px solid var(--noti-border-color); */
/* } */
/**/
/* .inline-reply-button { */
/*   margin-top: 4px; */
/*   margin-left: 4px; */
/*   background: var(--noti-bg); */
/*   border: 1px solid var(--noti-border-color); */
/*   color: var(--text-color); */
/* } */
/**/
/* .inline-reply-button:disabled { */
/*   background: transparent; */
/*   color: var(--text-color-disabled); */
/*   border: 1px solid transparent; */
/* } */
/**/
/* .inline-reply-button:hover { */
/*   background: var(--noti-bg-hover); */
/* } */
