altgraph==0.17.3
anyio==3.5.0
appdirs==1.4.4
asgiref==3.6.0
async-generator==1.10
attrs==21.2.0
auto-py-to-exe==2.29.0
autopep8==2.0.1
Babel==2.8.0
bcc==0.18.0
beautifulsoup4==4.10.0
beniget==0.4.1
black==21.10b0
blinker==1.4
bottle==0.12.23
bottle-websocket==0.2.9
Brlapi==0.8.3
Brotli==1.0.9
bs4==0.0.1
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.0.6
chrome-gnome-shell==0.0.0
click==8.0.3
cloudscraper==1.2.68
colorama==0.4.4
command-not-found==0.3
commonmark==0.9.1
cov-core==1.15.0
coverage==5.5
cryptography==3.4.8
cssselect==1.2.0
cupshelpers==1.0
customtkinter==5.0.5
cycler==0.11.0
darkdetect==0.8.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
deprecation==2.1.0
distro==1.7.0
distro-info==1.1build1
Django==4.1.6
docutils==0.19
Eel==0.14.0
exceptiongroup==1.1.0
execnet==1.9.0
eyed3==0.9.6
fake-useragent==1.1.1
filetype==1.2.0
flake8==4.0.1
Flask==2.2.2
folder-color==0.0.86
folder-color-common==0.0.86
fonttools==4.29.1
fs==2.4.12
future==0.18.3
gast==0.5.2
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
h11==0.13.0
h2==4.1.0
hidpidaemon==18.4.6
hpack==4.0.0
html5lib==1.1
httpcore==0.14.5
httplib2==0.20.2
httpx==0.22.0
hyperframe==6.0.1
idna==3.3
ImageHash==4.3.1
importlib-metadata==4.6.4
iniconfig==1.1.1
isort==5.6.4
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.0.3
jsonschema==3.2.0
kernelstub==3.1.4
keyring==23.5.0
Kivy==2.1.0
Kivy-Garden==0.1.5
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libmagic==1.0
libvirt-python==8.0.0
livereload==2.6.3
louis==3.20.0
lxml==4.8.0
lyricwikia==0.1.11
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Markdown==3.3.6
MarkupSafe==2.1.2
matplotlib==3.5.1
mccabe==0.6.1
meson==0.61.2
mkdocs==1.1.2
more-itertools==8.10.0
MouseInfo==0.1.3
mpmath==0.0.0
msgpack==1.0.3
mutagen==1.46.0
mypy==0.942
mypy-extensions==0.4.3
nala==0.11.1
netaddr==0.8.0
netifaces==0.11.0
nose2==0.9.2
numpy==1.21.5
oauthlib==3.2.0
olefile==0.46
outcome==1.2.0
packaging==21.3
parse==1.19.0
pathspec==0.9.0
pexpect==4.8.0
Pillow==9.0.1
pip==23.1.2
pip-review==1.3.0
platformdirs==2.5.1
pluggy==0.13.0
ply==3.11
pop-transition==1.1.2
prompt-toolkit==1.0.14
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
PyAudio==0.2.11
PyAutoGUI==0.9.53
pycairo==1.20.1
pycodestyle==2.10.0
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.17
pycryptodomex==3.17
pycups==2.0.1
pydbus==0.6.0
pyee==8.2.2
pyfiglet==0.7
pyflakes==2.4.0
PyGetWindow==0.0.9
Pygments==2.11.2
PyGObject==3.42.1
pyinotify==0.9.6
PyInquirer==1.0.3
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
PyJWT==2.3.0
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
pynvim==0.4.2
pyparsing==2.4.7
pyperclip==1.8.2
pyppeteer==1.0.2
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
pyquery==2.0.0
PyRect==0.2.0
pyRFC3339==1.1
pyrsistent==0.18.1
PyScreeze==0.1.28
PySimpleGUI==4.60.4
PySocks==1.7.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-sugar==0.9.4
pytest-xdist==2.5.0
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.1
python-debian==0.1.43ubuntu1
python-dotenv==0.21.0
python-gnupg==0.4.8
python-magic==0.4.27
python-xlib==0.29
python3-xlib==0.15
pythran==0.10.0
pytweening==1.0.4
pytz==2022.1
PyWavelets==1.4.1
pyxdg==0.27
PyYAML==5.4.1
regex==2023.5.5
repolib==2.2.1
repoman==1.4.0
requests==2.25.1
requests-html==0.10.0
requests-toolbelt==0.10.1
rfc3986==1.5.0
rich==11.2.0
scipy==1.8.0
SCons==4.4.0
SecretStorage==3.3.1
selenium==4.8.0
Send2Trash==1.8.1b0
sessioninstaller==0.0.0
setuptools==59.6.0
shellingham==1.4.0
six==1.16.0
sniffio==1.2.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spotify-cli-linux==1.7.1
spotipy==2.16.1
sqlparse==0.4.3
sympy==1.9
systemd-python==234
termcolor==1.1.0
toml==0.10.2
tomli==1.2.2
tornado==6.1
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
typed-ast==1.4.3
typer==0.4.0
typing-extensions==3.10.0.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
undetected-chromedriver==3.4.6
unicodedata2==14.0.0
urllib3==1.26.5
w3lib==2.1.1
wadllib==1.3.6
wcwidth==0.2.6
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.2
wheel==0.37.1
whichcraft==0.6.1
wsproto==1.2.0
xdg==5
xkit==0.0.0
yt-dlp==2022.9.1
zipp==1.0.0
zope.event==4.6
zope.interface==5.5.2
