* {
    border: #333333;
    border-radius: 10px;
    font-family:  "Hack Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(43, 48, 59, .0);
   }

window#waybar {
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button {
    background-color: transparent;
    color: #FFFFFF;
}

#workspaces button.active {
  color: #333333;
  background-color: #FFFFFF;
  /* border-radius: 5px; */
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #FFFFFF;
    color: #333333;
    box-shadow: inset 0 -3px #ffffff;
}

#window,
#workspaces {
    margin: 0 5px;
}

/* Uncomment If using icons instead of number for workspaces*/ 

/* #workspaces, */
/* #workspaces button,  */
/* #workspaces button.active, */
/* #workspaces button:hover,  */
/* #workspaces button.focused, */
/* #workspaces button.urgent { */
/*     padding-right: 0px;  */
/*     padding: 0px 6px;  */
/*     padding-left: 3px; */
/*     color: #FFFFFF; */
/*     background-color: rgba(0, 0, 0, 0); */
/* }  */



#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-power,
#mpd {
    padding: 0px 9px;
    padding-right: 13px;
    margin: 3px 3px;
}

#taskbar {
  margin: 3px 3px;
  background-color: #BBCCDD;
  padding: 0px 5px;
}

label:focus {
    background-color: #000000;
}

#battery,
#clock,
#network, 
#pulseaudio,
#pulseaudio.muted,
#backlight,
#wireplumber {
    color: #333333;
    background-color: #BBCCDD;
}

#network.disconnected {
    background-color: #f53c3c;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#tray menu,
#tray {
    color: #BBCCDD;
    background-color: #333333;
}
#custom-power {
  background-color: #BBCCDD;
  padding-right: 13px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background: #BBCCDD;
    color: #333333;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


