/* fragile file path */
@import url("../../.cache/hellwal/waybar-colors.css"); 

/* Use hellwal colors  */
@define-color bordercolor alpha(@color14, 1.0);
@define-color bg alpha(@color8, 1.0);
@define-color fg alpha(@foreground, 1.0);
@define-color highlight alpha(@color15, 1.0);
@define-color alert alpha(@color11, 1.0);
@define-color disabled #A5A5A5;

* {
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

window#waybar {
  color: @fg;
  background: @bg;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: 0.15rem solid @bordercolor;
  border-radius: 0.8rem;
}

button {
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0rem;
  padding: 0rem 0.4rem;
  margin: 0.4rem 0rem;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
}

#workspaces button {
  color: @fg;
}

#workspaces button.urgent {
  color: @alert;
}
#workspaces button.empty {
  color: @bordercolor;
}

#workspaces button.active {
  color: @highlight;
}

/*River Tags/Workspaces*/
#tags {
  background-color: transparent;
  border-radius: 0rem;
  padding: 0rem 0.4rem;
}

#tags button {
  color: @bordercolor;
  background: @bg;

  /*If you need round border icons*/
  border-radius: 0rem;
  padding: 0rem 0.4rem;
  margin: 0.4rem 0rem;
}

#tags button.occupied {
  color: @fg;
}

#tags button.focused {
  color: @highlight;
}

#tags button.urgent {
  color: @alert;
}

#clock,
#cava,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#language,
#backlight,
#backlight-slider,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#taskbar,
#tray,
#tray menu,
#tray > .needs-attention,
#tray > .passive,
#tray > .active,
#mode,
#scratchpad,
#custom-notification,
#custom-wifi,
#custom-kdeconnect,
#custom-bluetooth,
#custom-power,
#custom-separator,
#idle_inhibitor,
#window,
#mpd {
  padding: 0rem 0.4rem;
  margin: 0rem 0.4rem;
  color: @bordercolor;
}

#custom-notification,
#custom-wifi,
#custom-kdeconnect,
#custom-bluetooth,
#custom-power,
#idle_inhibitor {
  color: @bg;
}

#clock,
#custom-group {
  color: @bg;
  background-color: @bordercolor;
  margin: 0.4rem;
  padding: 0rem 0.4rem;
  border-radius: 0.4rem;
}

#custom-separator {
  padding: 0rem;
  margin: 0rem;
  color: @disabled;
}

#tray {
  /*background-color: @bordercolor;*/
  border: 0.1rem solid @bordercolor;
  margin: 0.4rem;
  padding: 0rem 1.25rem;
  border-radius: 0.4rem;
}

#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
  color: @alert;
}

#battery.charging,
#battery.plugged {
  color: @activegreen;
}

label:focus {
  background-color: @bg;
}

#battery.critical:not(.charging) {
  background-color: @alert;
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
