@define-color fg #F5F5F5;
@define-color bg #292825;
@define-color bordercolor #A7C080;
@define-color disabled #A5A5A5;
@define-color alert #E67E80;
@define-color activegreen #26A65B;
@define-color highlight #DBBC7F;

* {
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

window#waybar {
  color: @fg;
  background: @bg;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: 2px solid @bordercolor;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0px;
  padding: 0px 5px;
  margin: 5px 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button {
  color: @fg;
}

#workspaces button.urgent {
  color: @alert;
}
#workspaces button.empty {
  color: @bordercolor;
}

#workspaces button.active {
  color: @highlight;
}

/*River Tags/Workspaces*/
#tags {
  background-color: transparent;
  border-radius: 0px;
  padding: 0px 5px;
}

#tags button {
  color: @bordercolor;
  background: @bg;

  /*If you need round border icons*/
  border-radius: 0px;
  padding: 0px 0px;
  margin: 5px 0px;
}

#tags button.occupied {
  color: @fg;
}

#tags button.focused {
  color: @highlight;
}

#tags button.urgent {
  color: @alert;
}

#clock,
#cava,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#language,
#backlight,
#backlight-slider,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#taskbar,
#tray,
#tray menu,
#tray > .needs-attention,
#tray > .passive,
#tray > .active,
#mode,
#scratchpad,
#custom-notification,
#custom-wifi,
#custom-kdeconnect,
#custom-bluetooth,
#custom-power,
#custom-separator,
#idle_inhibitor,
#window,
#mpd {
  padding: 0px 5px;
  margin: 0px 5px;
  color: @bordercolor;
}

#custom-notification,
#custom-wifi,
#custom-kdeconnect,
#custom-bluetooth,
#custom-power,
#idle_inhibitor {
  color: @bg;
}

#clock,
#custom-group {
  color: @bg;
  background-color: @bordercolor;
  margin: 5px;
  padding: 0px 5px;
  border-radius: 5px;
}

#custom-separator {
  padding: 0px;
  margin: 0px;
  color: @disabled;
}

#custom-power {
  color: @alert;
}

#tray {
  /*background-color: @bordercolor;*/
  border: 1px solid @bordercolor;
  margin: 5px;
  padding: 0px 15px;
  border-radius: 5px;
}

#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
  color: @alert;
}

#battery.charging,
#battery.plugged {
  color: @activegreen;
}

label:focus {
  background-color: @bg;
}

#battery.critical:not(.charging) {
  background-color: @alert;
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
