/* fragile file path */
@import url("../../.cache/hellwal/waybar-colors.css");

/* Use hellwal colors  */
@define-color bordercolor alpha(@color14, 1.0);
@define-color bg alpha(@color8, 1.0);
@define-color fg alpha(@foreground, 1.0);
@define-color highlight alpha(@color15, 1.0);
@define-color alert alpha(@color11, 1.0);
@define-color disabled #A5A5A5;

* {
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

window#waybar {
  color: @fg;
  background: none;
}

/*River Tags/Workspaces*/
#tags {
  background-color: @bg;
  color: @bordercolor;
  border: 0.1rem solid @bordercolor;
  border-radius: 1rem;
  padding: 0rem 1rem;
}

#window.focused {
  color: @bordercolor;
  background-color: @bg;
  border-radius: 1rem;
  border: 0.1rem solid @bordercolor;
  padding: 0rem 1rem;
}

#tags button {
  color: @bordercolor;
  background: @bg;
  padding: 0rem 0.4rem;
  margin: 0rem 0.4rem;
}

#tags button.occupied {
  color: @fg;
}

#tags button.focused {
  color: @highlight;
}

#tags button.urgent {
  color: @alert;
}

#clock,
#cava,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#language,
#backlight,
#backlight-slider,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#taskbar,
#tray,
#tray menu,
#tray > .needs-attention,
#tray > .passive,
#tray > .active,
#mode,
#scratchpad,
#custom-notification,
#custom-temp,
#custom-wifi,
#custom-kdeconnect,
#custom-bluetooth,
#custom-power,
#custom-separator,
#custom-group,
#idle_inhibitor,
#window,
#mpd {
  color: @fg;
  background-color: @bg;
  border-radius: 1rem;
  border: 0.1rem solid @bordercolor;
  padding: 0rem 0.8rem;
  margin: 0rem 0.4rem;
}

#tray menu,
#tray > .needs-attention,
#tray > .passive,
#tray > .active,
#tray,
#custom-notification,
#custom-wifi,
#custom-kdeconnect,
#custom-bluetooth,
#custom-power,
#idle_inhibitor {
  padding: 0rem 0.4rem;
  margin: 0rem 0.4rem;
  border: 0rem solid @bordercolor;
}

#custom-group {
  padding: 0.4rem 1rem;
  margin-right: 0rem;
}

#custom-separator {
  color: @disabled;
}

#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
  color: @alert;
}

#battery.charging,
#battery.plugged {
  color: @activegreen;
}

label:focus {
  background-color: @bg;
}
