* {
  font-family: Material Design Icons, JetBrainsMono Nerd Font, Iosevka Nerd Font;
  font-size: 15px;
}

window#waybar {
  background-color: #242933;
  color: #ffffff;
  border-radius: 5px;
  border-width: 3px;
  border-color: #3b4252;
  border-style: solid;
}

window#waybar.hidden {
  opacity: 0.3;
}

#window {
  color: #64727d;
}

#workspaces,
#custom-ibus,
#clock,
#cpu,
#memory,
#custom-media,
#tray,
#mode,
#custom-lock,
#workspaces,
#idle_inhibitor,
#custom-powermenu,
#custom-launcher,

#cpu {
  color: #fa9f8e;
  border-radius: 5px 5px 5px 5px;
}

#memory {
  color: #b9fac2;
  border-radius: 5px 5px 5px 5px;
}

@keyframes button_activate {
	from { opacity: .3 }
	to { opacity: 1.; }
}

#workspaces button {
	border: none;
	color:  #d4d2a9;
	padding: 3px;
	background: transparent;
	box-shadow: none;
}

#workspaces button.active {
	color:  #81A1C1;
	background: radial-gradient(circle, rgba(20, 48, 187, 0.699) 5%, rgba(36, 39, 54, 0.5) 18%, rgba(132,129,156,0) 23%, rgba(70, 76, 98, 0.201) 24%, rgba(132,129,156,0) 30%);
	animation: button_activate .2s ease-in-out;
}

#workspaces button.urgent {
	color:  #fa9f8e;
	background: radial-gradient(circle, rgba(25, 79, 255, 0.3) 20%, rgba(132,129,156,0) 30%);
}

#workspaces button.persistent {
	color:  #85909e;
}

#workspaces button:hover {
	border: none;
	background: radial-gradient(circle, rgba(25, 79, 255, 0.1) 20%, rgba(132,129,156,0) 30%);
}

#workspaces button.active:hover, #workspaces button.urgent:hover {
	background: inherit;
}

#custom-launcher {
  margin-left: 5px;
  margin-right: 5px;

  padding-right: 5px;
  padding-left: 5px;

  font-size: 15px;

  color: #7a95c9;

  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px 5px 5px 5px;
}

#workspaces,
#custom-ibus,
#clock,
#cpu,
#memory,
#backlight,
#battery,
#pulseaudio,
#tray,
#network {
  background-color: #3b4252;
  padding: 0em 2em;

  font-size: 15px;

  padding-left: 5px;
  padding-right: 5px;

  padding-top: 5px;
  padding-bottom: 5px;

  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;

  font-size: 15px;
}

#workspaces {
  padding-right: 5px;
}

#pulseaudio {
  color: #81A1C1;
  padding-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 0px 5px 5px 0px;
  margin-left: 5px;
}

#pulseaudio.muted {
  color: #fb958b;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 0px 5px 5px 0px;
}

#backlight {
  color: #8a909e;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
}

#network {
  padding-left: 0.2em;
  color: #5E81AC;
  border-radius: 5px 0px 0px 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  margin-right: 5px;
}

#network.disconnected {
  color: #fb958b;
}

#battery {
  color: #8fbcbb;
  border-radius: 0px 5px 5px 0px;
  padding-right: 5px;
  font-size: 15px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #8fbcbb;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}

#battery.charging {
  font-size: 15px;
  padding-right: 5px;
  padding-left: 5px;
}

#battery.full,
#battery.plugged {
  font-size: 15px;
  padding-right: 5px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#custom-lock {
  color: #ecd3a0;
  padding: 0 5px 0 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#clock {
  color: #8a909e;
  font-family: Iosevka Nerd Font;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px 5px 5px 5px;
}

#custom-powermenu {
  color: #e78284;
  margin-right: 5px;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

tooltip {
  font-family: Iosevka Nerd Font;
  border-radius: 5px;
  padding: 5px;
  background-color: #242933;
}

tooltip label {
  font-family: Iosevka Nerd Font;
  padding: 5px;
  background-color: #242933;
}

label:focus {
  background-color: #242933;
}

#tray {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  border-radius: 5px 5px 5px 5px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #242933;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#memory,
#cpu {
  font-size: 15px;
}

#custom-song_name,
#custom-spotify,
#custom-next,
#custom-pre {
  background-color: #3b4252;
  font-size: 15px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;

}

#custom-pre {
  border-radius: 5px 0px 0px 5px;
  padding-left: 5px;
}

#custom-next {
  border-radius: 0px 5px 5px 0px;
  margin-left: 0px;
}

#custom-spotify {
  margin-right: 0px;
  margin-left: -5px;
  padding-left: 5px;
}

#custom-song_name {
  font-size: 15px;
  padding-right: 5px;
  border-radius: 5px 5px 5px 5px;
  margin-right: 5px;
  padding-left: 5px;
}

#custom-ibus {
  font-size: 15px;
  color: #d1cfcf;
  font-family: sourcecodepro;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  margin-left: 0px;
}
