[Desktop Entry]
Name=Game 455712169795780630
Exec=/usr/bin/dolphin-emu %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-455712169795780630;
