[Desktop Entry]
Name=LF
GenericName=File Manager
Comment=Terminal-based file manager
Exec=foot -e lf
Terminal=false
StartupNotify=false
Encoding=UTF-8
Type=Application
Icon=utilities-terminal
X-KDE-GlobalAccel-CommandShortcut=true
